server:
  host: localhost
  port: 9001

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance-id:${random.value}}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: net.sf.log4jdbc.DriverSpy
#    driver-class-name: oracle.jdbc.driver.OracleDriver
#    type: org.apache.tomcat.jdbc.pool.DataSource
    hikari:
      maximum-pool-size: 10
      connection-timeout: 60000

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        prefetch: 5
  redis:
    host: localhost
    port: 6379

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
#        dialect: org.hibernate.dialect.Oracle10gDialect
#        dialect: com.icomsys.main_vm.common.util.CustomDialect
#https://docs.jboss.org/hibernate/orm/3.5/javadocs/org/hibernate/dialect/package-summary.html
  flyway:
    enabled: false
    baseline-on-migrate: false
    baseline-version: 1

# configserver로 사용예정 로컬용
jwt:
  secret: test_secret
  accessMillis: 86400000 #1일
  refreshMillis: 15552000000 #180일
